body {
  font-family: verdana;
}

p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

header {
  display:flex;
  justify-content: center;
}

.header_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 70px;
}

main {
  display: flex;
  justify-content: center;
}

.main_container {
  width: 80%;
  margin-top: 30px;
}

footer {
  color: dimgray;
}

#stripe {
  background-color: lightgray;
  height: 1px;
  position: absolute;
  width: 100%;
}

#profile {
  margin-bottom: 20px;
}

h1 {
  display: flex;
  align-items: flex-end;
  font-family: 'Verdana', sans-serif;
  font-size: 40px;
  font-weight: normal;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  display: flex;
  align-items: flex-end;
  list-style: none;
  height: 100%;
}

nav li {
  margin-left: 70px;
  margin-bottom: 12px;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

nav a:hover {
  color: orange;
}

#projects > li {
    margin: 10px 0;
    font-size: 20px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  text-decoration: underline;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

